*{
   box-sizing: border-box;
}
th, td, tr{
   text-align: center;
}
.text-s4{
   color: white;
   font-weight: normal;
   text-align: left;
}
.text-s4-t3{
   font-weight: normal;
   text-align: center;
}
div.container {
   width: 60%;  
   margin: auto; 
}
/* định dạng thẻ div chưa các button tab */
div.tab {
   margin-top: 15rem;
   width: 80%;
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
}

/* định dạng các button tab */
div.tab button {
   background:#ccc;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
   font-size: 17px;
   margin-right: 10px;
}

/* đổi màu khi một button tab được hover */
div.tab button:hover {
   background-color: #3A656D;
   color: #fff;
}

/* đổi màu nền cho tab đang được hiển thị nội dung */
div.tab button.active {
   background-color: #3A656D;
   color: #fff;
   width: 200px;
}
.tablinks{
   background-color: #ccc;
   width: 200px;
}
/* định dạng nội dung hiển thị */
.tabcontent {
   display: none;
   padding: 6px 12px;
   border-top: none;
   width: 80%;
   margin-left: auto;
   margin-right: auto; 
}
/* bắt đầu tạo bảng */
.table-xam{
   background-color: #ccc;
   height: 50px;
}
.table-th-xanh{
   background-color: #3A656D;
   height: 70px;
   width: 200px;
   color: #fff;
   font-weight: normal;
}
.table-th-cam{
   background-color: #F7A154;
   height: 70px;
   width: 200px;
   color: #fff;
   font-weight: normal;
}
.table-td-cam{
   background-color: #F7A1546c;
   height: 70px;
   width: 200px;
   color: #fff;
   font-weight: normal;
}
.text-td{
   color: #F7A154;
}
.button-chonkehoach{
   width: 200px;
   height: 50px;
   background-color: #F97B55;
   color: #fff;
}
.td-trang{
   background-color: #fff;
   height: 70px;
   width: 200px;
}
/* kết thúc tạo bảng */
/* Table 2 */
.grid-s4{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   text-align: center;
}
.grid-s4-1{
   display: grid;
   grid-template-columns: 20% 80%;
   padding: 30px;
}
.box-s4-1{
   background-color: #3A656D;
}
.box-s4-2{
   background-color: #F97B55;
}
.box-s4-3{
   background-color: #2A90A9;
}
.box-s4-4{
   background-color: #F7B06E;
}
.nen-tron{
   background-color: #ccc;
   height: 70px;
   width: 70px;
   border-radius: 100%;
   font-size: 30px;
   color: #fff;
   margin-top: 50px;
   padding: 16px;
}
/* het table2 */

/* bang 3 */
.grid-s4-t3{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 1fr;
   gap: 20px 20px;
}
.img-s4-1{
   height: 200px;
   width: 200px;
   border-radius: 100%;
   border: 10px solid #ff7158;
}
.button-s4-t3{
   width: 100px;
   height: 50px;
   background-color: #ff7158;
   color: #fff;

}
/* het bang 3 */
@media only screen and (max-width: 1000px) {
   .tabcontent {
      width: 100%;; 
   }
   table{
      display: flex;
   }
   th, td, tr{
      text-align: center;
      font-size: 10px;
   }
   div.tab {
      width: 80%;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto; 
      margin-top: 30px;
   }
   div.tab button {
      width: 100%;
   }
   div.tab button.active {
     width: 100%;
   }
   /* bắt đầu tạo bảng */
.table-xam{
   background-color: #ccc;
   height: 10px;
   width: 100%;
}
.table-th-xanh{
   background-color: #3A656D;
   height: 10px;
   width: 10px;
   color: #fff;
   font-weight: normal;
}
.table-th-cam{
   background-color: #F7A154;
   height: 10px;
   width: 10px;
   color: #fff;
   font-weight: normal;
}
.table-td-cam{
   background-color: #F7A1546c;
   height: 20px;
   width: 10px;
   color: #fff;
   font-weight: normal;
}
td{
   width: 50px;
}
.button-chonkehoach {
   width: 90px;
   height: 50px;
   background-color: #F97B55;
   color: #fff;
   font-size: 10px;
}
/* kết thúc tạo bảng */
/* bang 2 */
.grid-s4-1 {
   display: grid;
   grid-template-columns: 1fr;
   padding: 10px;
}
.nen-tron {
   background-color: #ccc;
   height: 50px;
   width: 50px;
   border-radius: 100%;
   font-size: 30px;
   color: #fff;
   margin-top: 50px;
   padding: 8px;
}
/* het */
.grid-s4-t3{
   display: grid;
   grid-template-columns: 1fr ;
   grid-template-rows: 1fr;
   gap: 20px;
}
.img-s4-1{
   height: 200px;
   width: 200px;
   border-radius: 100%;
   border: 10px solid #ff7158;
   margin-left: 40px;
}
}